{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		
	
    {% for planta in listado_plantas %}
    
        <div class="col-md-7 col-xs-7 col-sm-7">
            <ul class="list-group">
                <li class="list-group-item ">
                        <img class="mr-3" src="{{ MEDIA_URL }}{{ planta.imagen }}" width="50px"/>
                        <a href="{% url 'detalle_planta' planta.pk %}" style="font-size: 16px;"> {{ planta.nombrecomun }} </a> <span class="badge"></span>
                        {% if user.groups.all.0.name == 'viverista' %}
                        <a href="{% url 'borrar_planta' planta.pk %}">
                            <button type="button" class="btn btn-danger pull-right" >
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </a>
                        <a href="{% url 'editar_planta' planta.pk %}">
                            <button type="button" class="btn btn-info pull-right" >
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </a>
                        {% endif %}
                </li>
            </ul>
        </div>
    
    {% endfor %}

</div>
{% endblock %}